<div class="test-container" *ngIf="testData.title && testData.questions">
  <h1>{{testData?.title}}</h1>
  <label class="test-field-label" for="userName">Введите ваше имя: </label>
  <input #input class="test-field-input" name="userName" id="userName" (input)="OnInput(input.value)">
  <div style="width: 100%" *ngFor="let question of testData.questions">
    <app-test-label
      [Id]="question.id"
      [Title]=question.description
      [Scale]=question.responceScale
      (InputAnswer)="onChangedData($event)"
    ></app-test-label>
  </div>
  <div style="display: flex; width: 100%;justify-content: center">
    <button class="test-send-button" (click)="onSendButtonClick()">Отправить</button>
    <button class="test-send-button" (click)="openDialog()">Статистика</button>
  </div>
</div>
